.venv/
**/__pycache__/
laptop3-0.txt
mitmproxy
mitmdump
mitmproxy*
mitmweb
*.txt
orderbook_logs
forecasts
build/
*json
*log
_opam
at5/_build
laptop1.txt
sports/
sensors
scratch.ipynb
diagrams
media
ex.py
*pem
.DS_STORE
weather.db
forecast.db
data_orderbook.db
logs
